body {
    text-align: center;
    align-items: center;
}
#movies img, #movie img {
    width: 80%;
}
.well {
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.divClass {
    margin: 10px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    background: #2b2f35;
}
@media(max-width: 960px) {
    #movies .divClass .well {
        height: 240px;

        margin-bottom: 10px;
        margin-top: 10px;
    }
    .divClass {
        align-items: center;
        width: 200px;
        padding-bottom: 50px;
    }
    #movies .col-md-3 img {
        height: 80%;
    }
}

#movies .col-md-3 img {
    height: 80%;
}
.row .well{
    background-color: #303030;
    width: 100%;
    border-radius:0.25rem;
    padding-bottom: 20px;
}
.imageDetails {
    height: 414px;
    width: auto;
    margin-bottom: 10px;
}
.detailsOne {
    width: 60%;
    margin: 10px;
}
.detailsTwo {
    width: 100%;
}

@media (max-width: 1200px) {
    .col-md-4 {
        display: block;
        margin-right: auto;
        margin-left: auto;
        height: 100%;
    }
    .imageDetails {
        height: 100%;
        width: auto;
    }
    .detailsOne {
        horiz-align: center;
        width: 100%;
        margin: 10px;
    }
}